{% extends "ProjectoFinal23/padre.html" %}
{% load static %}
    
{% block section1 %}


    <h1>El curso al que te queres inscribir como alumno no existe</h1>
    <p>En la lista de cursos estan los cursos disponibles, si no figura en la lista no te vas a poder inscribir</p>
    
    <button>
        
        <li><a href="{% url 'inicio' %}"> Volver a inicio</a></li>
        
    </button>
    <button>
        
        <li><a href="{% url 'estudiantes' %}"> Volver a estudiantes</a></li>
        
    </button>
    <button>
        
        <li><a href="{% url 'cursos' %}"> Ir a cursos</a></li>
        
    </button>

{% endblock %}