{% extends "ProjectoFinal23/padre.html" %}

{% load static %}

{% block section1 %}


    <h1>Cursos</h1>
    <p>Pagina de cursos</p>

    <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Listado de cursos</h2>
                            <p class="card-text">Lista y detalles de los cursos de SMART TRAINING</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'List' %}">Ver lista</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Registro de cursos</h2>
                            <p class="card-text">Formulario de registro de nuevo curso</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'formulario_api' %}">Ir al registro</a></div>
                    </div>
                </div>

{% endblock %}