{% extends 'ProjectoFinal23/padre.html' %}

{% load static %}

{% block section1 %}
<body>
    <h1> Cursos de Smart Training</h1>
    <ul>
        {% for curso in object_list %}
            <li>
                <p>NOMBRE: {{ curso.nombre }}</p>
                <p>COMISION: {{ curso.comision }}</p>
                <p>
                    <a href="{% url 'Detail' curso.id %}">Ver</a> |
                    <a href="{% url 'Edit' curso.id %}">Editar</a> |
                    <a href="{% url 'Delete' curso.id %}">Borrar</a>

                </p>
            </li>
        {% endfor %}
    </ul>
<button>
        
    <li><a href="{% url 'cursos' %}"> Volver a cursos</a></li>
        
</button> 
    
</body>
{% endblock %}