{% extends "ProjectoFinal23/padre.html" %}

{% load static %}

{% block section1 %}
<h1>Esta es la pagina de entregables</h1>
<p>En esta seccion figura si los profesores entregaron las evaluaciones de sus respectivos cursos</p>
<ul>
    {% for p in entregables %}
        
    <li>{{p}}</li>


{% endfor %}
</ul> 
<button>
        
    <li><a href="{% url 'inicio' %}"> Volver al inicio</a></li>
    <li><a href="{% url 'cursos' %}"> ir a cursos</a></li>
    <li><a href="{% url 'profesores' %}"> ir a profesores</a></li>
    
</button> 
{% endblock %}