{% extends "ProjectoFinal23/padre.html" %}

{% load static %}

{% block section1 %}

<p>Pagina de Estudiantes</p>

    <!-- Content Row-->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Registro de Estudiante</h2>
                    <p class="card-text">Bienvenido registrate aca</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'formulario_api' %}">Formulario curso API Django</a></div>
            </div>
        </div>

{% endblock %}