{% extends "ProjectoFinal23/padre.html" %}

{% load static %}

{% block section1 %}

<p>Pagina de Estudiantes</p>

    <!-- Content Row-->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Registro de Estudiante</h2>
                    <p class="card-text">Bienvenido registrate aca</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'registroEstudiante' %}">Ir al registro</a></div>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Lista de estudiantes</h2>
                        <p class="card-text">Esta es la lista de estudiantes</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'LeerEstudiantes' %}">Ver lista</a></div>
                </div>
            </div>
{% endblock %}