{% extends "ProjectoFinal23/padre.html" %}
{% load static %}
    
{% block section1 %}
<h2>{{ mensaje }}</h2>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">SMART Cursos</h2>
                            <p class="card-text">Esta es la pagina en donde se puede ver la lista de cursos y registrar un curso nuevo</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'cursos' %}">Ir a cursos</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">SMART Estudiantes</h2>
                            <p class="card-text">Esta es la pagina en donde se pueden registrar los alumnos y tambien ver la lista de alumnos registrados</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'estudiantes' %}">Ir a estudiantes</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">SMART Profesores</h2>
                            <p class="card-text">Esta es la pagina de los profesores en la que se pueden registrar profesores y ver la lista de profesores</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'profesores' %}">Ir a profesores</a></div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
