{% extends 'ProjectoFinal23/padre.html' %}

{% load static %}

{% block section1 %}

    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Listado de profesores</h2>
                    <p class="card-text">Esta es la lista de profesores</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'LeerProfesores' %}">Ver lista</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                        <h2 class="card-title">Registro Profesores</h2>
                        <p class="card-text">Sos profesor y te queres registrar en la academia SMART TRAINING? Hacelo por aca</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'registroProfesores' %}">Ir a registro</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">SMART Examenes</h2>
                        <p class="card-text">Esta es la pagina de los profesores en la que se pueden registrar profesores y ver la lista de profesores</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'subirExamen' %}">Subir examen</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}